.indeterminate{
  width: 50%;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-name: indeterminate-progress-bar;
  position: absolute;
  bottom: 0;
  top: 0;
}

@keyframes indeterminate-progress-bar{
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}